.godot/
.import/


# System/tool-specific ignores
.directory
.DS_Store
*~

/addons/kenyoni/plugin_reloader
/addons/explore-editor-theme
/addons/GDQuest_GDScript_formatter
addons/screenshots/settings.cfg
